  @import "tailwindcss";

      @font-face {
        font-family: 'GT-Planar';
        src: url('./fonts/GT-Planar-Regular-Trial-BF63bcd9a5c44bb.otf') format('truetype');
        font-weight: normal;
        font-style: normal;
      }
      @font-face {
        font-family: 'P22-Mackinac';
        src: url('./fonts/P22-Mackinac-Regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
      }
    :root {
      --background-color: #bcd6ee;
      --primary-color: #025495;
      --secondary-color: hsl(206.1, 100%, 87.8%);
    }


  @layer base {

    body{
      font-family: 'GT-Planar', sans-serif;
      background-color: var(--background-color);
      color: var(--primary-color);
    }
  }

